{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2,
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
